body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "NunitoBlack";
  src: local("NunitoBlack"),
    url("./assets/Fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoBold";
  src: local("NunitoBold"),
    url("./assets/Fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoSemiBold";
  src: local("NunitoSemiBold"),
    url("./assets/Fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoRegular";
  src: local("NunitoRegular"),
    url("./assets/Fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GothamMedium";
  src: local("GothamMedium"),
    url("./assets/Fonts/Gotham Medium.otf") format("truetype");
}
